<div>
  <h1>Registrar pagos</h1>
  <p>
    Informe los pagos de los tickets que se emitieron (imprimieron).
  </p>
  <% form_tag 'payment' do %>
    <%= render :partial => 'payment_ticket', :collection => @tickets %>
    <%= submit_tag 'Actualizar'%>
  <% end %>
</div>