<p>
  <b>Nombre:</b>
  <%=h @tickettype.name %>
</p>
<p>
  <b>Monto:</b>
  <%=h @tickettype.amount %>
</p>


<%= link_to 'Edit', edit_tickettype_path(@tickettype) %> |
<%= link_to 'Back', tickettypes_path %>
